body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.urple-hilight{
    color: purple;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

a{
	text-decoration:none;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    padding-bottom: 150px;
	width:100%;
	background-position:center;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, #12dfce, rgb(10, 13, 216));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;
    padding-bottom: 150px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;

}
.latest-work-area{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80% ;
    height: 500px;
    padding-bottom: 80px;
    margin-top: 100px;
    
}
.quater-width{ 
    width: 25%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;

}
#latest-text{
    text-align: center;
    padding-bottom: 50px;
    color: royalblue;
}
.client-content{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90%;
    height: 500px;
    padding-bottom: 100px;
    margin-top: 50px;
}
#client-say{
    text-align: center;
    padding: 20px;
  
}
#link-masaage{   
	width: 420px;
    height: 110px;
    background-image:linear-gradient(45deg, #14c2e0, blue);
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	color:white;
	
}

#link-masaage p{
    padding-top:20px;
    color: white;
}
#link-masaage h4{
    color: white;
}
footer p{
    text-align: center;
    
}